body {
  background-image: url(./assets/componentes/portalgif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 1.0;
}

div {
  text-align: center;
}

p{
  font-size: 20px;
}

.title {
  color: rgb(37, 247, 10);
}



.content{
  display: flex;
  flex-direction: column;
}


.characterCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 45%;
}

.name {
  font-size: 20px;
  color:teal;
  font-weight: 900;
}

.image {
  max-width: auto;
  min-width: auto;
  border-radius: 20px;
 
  box-shadow: 0 0 10px 0 rgba(29, 139, 35, 0.7), 
              0 0 10px 0 rgba(29, 253, 29, 0.5), 
              0 0 10px 0 rgba(23, 207, 39, 0.3), 
              0 0 10px 0 rgba(24, 189, 32, 0.2); 
}

.gender {
  color: rgb(124, 117, 22);
  font-size: 20px;
}

.Alive {
  color: rgb(13, 122, 13);
  font-size: 20px;
}

.unknown{
 color: darkorange;
 font-size: 20px;
}

.Dead{
color: darkred;
font-size: 20px;
}

.paginacion{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.paginacion button{
  height: 50px;
  align-self: center;
  color: purple;
  border: 2px solid transparent;
}

.paginacion p{
  color:purple;
}

.paginacion button:hover{
  border: 2px solid purple;
}

button:active {
  color: #1a1a1a;
  background-color: purple;
  border: 2px solid #1a1a1a;
}